﻿@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/angular.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>

<body ng-app="PopupDemo">
    <div ng-controller="PopupDemoCont">
        <h2 class="text-center">Angularjs-Popup</h2>
        <button ng-click="open()" class="btn btn-warning">Simple Popup</button>
    </div>
    <script>
        angular.module('PopupDemo', ['ui.bootstrap']);

        angular.module('PopupDemo').controller('PopupDemoCont', ['$scope', '$modal', function ($scope, $modal) {
            $scope.open = function () {
                console.log('opening pop up');
                var modalInstance = $modal.open({
                    templateUrl: 'popup.html',
                });
            }
        }]);
    </script>
</body>



<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>