﻿@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularCode.js"></script>
<style>
    .btn-space {
        margin-left: 100%;
        background-color: cornflowerblue;
        width: 40%;
        font-size: larger;
    }
</style>
<h2>Index</h2>
<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAllCustomer()" class="divList">
        <p class="divHead">List of Custmor</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>Number</b>
                </td>
                <td>
                    <b>Country</b>
                </td>
                <td>
                    <b>Actions</b>
                </td>
            </tr>
            <tr ng-repeat="cust in TbCustmers|orderBy:'CustmerName'">
                <td>
                    {{cust.CustmerId}}
                </td>
                <td>
                    {{cust.CustmerName}}
                </td>
                <td>
                    {{cust.ContectNumber }}
                </td>
                <td>
                    {{cust.Country | uppercase}}
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="Updatecust(cust)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteCust(cust)" />
                </td>
            </tr>
        </table>
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h2>
                        <span id="spn" class="text-info">Add New Custmer</span>
                                             
                    </h2>
                    <p ng-model="ResponeData">{{ResponeData}} </p>

                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Name" ng-model="CustmerName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputPassword" placeholder="PhnNumber" ng-model="ContectNumber">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Country:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputLabel3" placeholder="Country" ng-model="Country">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("CustmerId_")
  
</div>

<div class="container" ng-controller="myCtrl">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>{{ResponeData}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>